@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&display=swap');

body {
  background-color: lightblue;
  font-family: "Edu VIC WA NT Beginner", cursive;
}

h1 {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 10px;
}


.carousel-inner{
   width: 1280px;
   height: 720px;
   margin-left: auto;
   margin-right: auto;
 }

.container {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 20px;
    text-align: center;
}

.column {
  float: left;
  width: 50%;
  height: auto;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

